@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* color: white; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* z-index: 1; */
}

* ::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

html ::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.092);
  border-radius: 5px;
}

body {
  background: #000;
}

*:focus {
  outline: none;
}

/* Remove link styles for all states */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove link styles for visited links */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Remove link styles for hover */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* Remove link styles for active links */
a:active {
  text-decoration: none;
  color: inherit;
}

/* Remove link styles for focus */
a:focus {
  outline: none; /* Optionally remove focus outline */
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Default */



/* Star Animation */
.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 0.7rem 0.25rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.tail-point {
  position: absolute;
  color: white;
  box-shadow: 0rem 0rem 0.2rem 0.05rem rgb(255 255 255);
  pointer-events: none;
}

.star {
  position: absolute;
  /* STARZ */
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }
  
  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }
  
  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }
  
  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}